/* A Hyper Island Student Project. Ask Jeff The Guru.
Copyright - Ellioth Axelsson & Johan Hallenberg. v1.0.
*/

html, body {
	width: 100%;
	height: 100%;

	position: relative;
}

body {
	background-image: url(/img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	/*cursor: url('/img/cursor.png'), auto;*/
}

body:active {
	/*cursor: url('/img/click.png'), auto;*/
}

/* Center middle-container */
.absolute-center {
  width: 60%;
  height: 30px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* Header for search-field */
.input-header {
	font-family: vcr_mono, helvetica;
	font-size: 42px;
	color: #FF8C00;

	text-transform: uppercase;

  text-shadow: 4px 4px #000;

	position: absolute;
	width: 100%;
}

.input-help a:link, .input-help a:hover, .input-help a:active, .input-help a:visited {
	font-family: vcr_mono, helvetica;
	font-size: 18px;
	color: #FF8C00;

	text-transform: uppercase;

	right: 0;

	text-shadow: 2px 2px #000;

	text-decoration: none;

	position: absolute;
}


/* Insert head(s) to the middle-page*/
#head {
	background-repeat: no-repeat;

	width: 60%;
  height: 739px;

  margin: auto;
  top: 0; left: 0; right: 0;
	position: absolute;

	z-index: -1;
}

#shades {
	background-image: url('/img/deal.png');
	background-repeat: no-repeat;

	width: 358px;
	height: 72px;

	position: absolute;

	top: 210px;
	left: 230px;

	-webkit-animation-name: shades;
	-webkit-animation-duration: 8s;
	animation-name: shades;
	animation-duration: 8s;

	display: none;
}

/* Different heads */
.jeff {
		background-image: url('/img/head.png');
}

.jeffchrist {
		background-image: url('/img/santa.png');
}

.ellioth {
	background-image: url('/img/elliothrocker.png');
}

.johan {
	background-image: url('/img/warriorjohan.png');
}

/* Chat bubble */
.talk {
	font-family: vcr_mono;
	font-size: 18px;
	color: #000;

	text-align: center;

	background-color: #fff;

	position: absolute;

	left: 62%;
	top: 40%;

	padding: 7px;

	min-height: 38px;
	max-width: 400px;

	box-sizing: border-box;
	border: 3px solid #000;
	border-radius: 5px;

	-webkit-box-shadow: 2px 3px 4px 0px #000;
	-moz-box-shadow: 2px 3px 4px 0px #000;
	box-shadow: 2px 3px 4px 0px #000;

	display: none;
}

.talk:before {
  content: ' ';

  position: absolute;

  width: 0;
  height: 0;

  left: 16px;
  top: 100%;

  border: 10px solid;
  border-color: #000 transparent transparent #000;
}

.talk:after {
  content: ' ';

  position: absolute;

  width: 0;
  height: 0;

  left: 18px;
  top: 100%;

  border: 6px solid;
  border-color: #fff transparent transparent #fff;
}

/* Text field */
input[type=text] {
    width: 100%;
		height: 60px;
    padding: 12px 20px;
    margin: 8px 0;

    box-sizing: border-box;
    border: 3px solid #232323;

    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    font-family: vcr_mono;
    font-size: 25px;
		color: #666;

		-webkit-box-shadow: 2px 3px 4px 0px #232323;
		-moz-box-shadow: 2px 3px 4px 0px #232323;
		box-shadow: 2px 3px 4px 0px #232323;

		/*cursor: url('/img/pin.png'), auto;*/
}

input[type=text]:focus {
    border: 3px solid #000;

		-webkit-box-shadow: 2px 3px 4px 0px #000;
		-moz-box-shadow: 2px 3px 4px 0px #000;
		box-shadow: 2px 3px 4px 0px #000;
}

input[type=text]:active {
	/*cursor: url('/img/click.png'), auto;*/
}

/* Display the results */
#result {
	font-size: 18px;
	font-family: vcr_mono, helvetica;
	/*color: #FF8C00;*/

	background-color: #fff;

	box-sizing: border-box;
	border: 3px solid #000;

	overflow: auto;

	max-height: 250px;

	padding: 10px;

	-webkit-box-shadow: 2px 3px 4px 0px #000;
	-moz-box-shadow: 2px 3px 4px 0px #000;
	box-shadow: 2px 3px 4px 0px #000;

	display: none;
}

#result img {
	width: 100%;

	box-sizing: border-box;
	border: 3px solid #000;
}

hl {
	color: #FF8C00;
}

.btn {
	font-family: vcr_mono, helvetica;
	font-size: 18px;

	text-align: center;
	text-decoration: none;

	background-color: #fff;

	border: 3px solid #000;

	color: #000;

	padding: 7px 9px;
	margin: 4px 2px;

	display: inline-block;
}

.btnh {
	border: 3px solid #FF8C00;
}

.footer a:link, .footer a:hover, .footer a:active, .footer a:visited {
	color: #FF8C00;

	text-decoration: none;
}


/* Our footer */
.footer {
	position: fixed;
	width: 100%;

	text-align: center;

	bottom: 10px;

	font-size: 15px;
	font-family: vcr_mono, helvetica;
	color: #fff;
}

p.header {
	font-family: vcr_mono, helvetica;
	font-size: 40px;

	text-shadow: 3px 3px #666;
}

p.text {
	font-family: vcr_mono;
}

p.lh {
	font-size: 14px;
	line-height: 21px;
}

p.big {
	font-size: 16px;
}

p.extra {
	font-family: vcr_mono, helvetica;
	font-size: 14px;

	padding-top: 10px;
}

span.question {
	padding: 2px 6px;

	border: 1px solid #fe7706;
	border-radius: 5px;
}

span.question:hover {
	border: 1px solid #fff;
}

.close {
	background-image: url(/img/x.png);
	background-repeat: no-repeat;

	width: 30px;
	height: 30px;
}

.close:hover {
	opacity: 0.5;
}

/* Autocomplete styling */
.autocomplete-suggestions {
		background: #fff;

		box-sizing: border-box;
		border: 3px solid #000;

		/* Delete the top border to fit in to input-field */
		/*border-left: 3px solid #000;
		border-right: 3px solid #000;
		border-bottom: 3px solid #000;*/

		-webkit-box-shadow: 2px 3px 4px 0px #000;
		-moz-box-shadow: 2px 3px 4px 0px #000;
		box-shadow: 2px 3px 4px 0px #000;

    position: absolute;

		display: none;

		z-index: 9999;

		max-height: 254px;

		overflow: hidden;
		overflow-y: auto;
}

.autocomplete-suggestion {
	font-family: vcr_mono, helvetica;
	font-size: 20px;

	position: relative;

	padding: 10px;

	line-height: 18px;

	white-space: nowrap;
	/*overflow: hidden;
	text-overflow:*/
	/*ellipsis;*/
	color: #000;
}

.autocomplete-suggestion b {
	color: #fe7706;
}

.autocomplete-suggestion.selected {
	background: #ddd;
}

@-webkit-keyframes shades {
    from {top: -200px;}
    to {top: 210px;}
}

@keyframes shades {
    from {top: -200px;}
    to {top: 210px;}
}

/* Include 3d part font */
@font-face {
    font-family: vcr_mono;
    src: url(/font/vcr_mono.ttf);
}
